[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
sqlalchemy = "*"
fastapi = "*"
pyjwt = "*"
mysql-connector-python = "*"
requests = "*"
python-dotenv = "*"
passlib = "*"
python-multipart = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
