<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <style>
        .month{
        width:100%;
        height:100%;
        table-layout:fixed;
        }
        table thead tr{
        width:100%;
        }
        .container{
        background-color : lightblue
        }

    </style>
    <title>Calendar</title>
</head>
<body>
<div class="calendar">
    <table id="calendar" border="1" cellpadding="0" cellspacing="0" class="month">
        <thead>
        <tr>
            <th><label id="prev">&#60;</label></th>
            <th align="center" id="current_year_month" colspan="5"></th>
            <th><label id="next">&#62;</label></th>
        </tr>
        <tr>
            <th class="sun"><p style="color: red;"> Sun</p></th>
            <th class="mon">Mon</th>
            <th class="tue">Tue</th>
            <th class="wed">Wed</th>
            <th class="thu">Thu</th>
            <th class="fri">Fri</th>
            <th class="sat"><p style="color: blue;"> Sat</p></th>
        </tr>
        </thead>
        <tbody id="calendar_body" class="calendar_body"></tbody>
    </table>

</div>
<div id="current_date">

</div>
<div id="today_attendee">
    
</div>
<script>
    var today = new Date();
    var comment = "오늘(" + String(today.getFullYear()) + "년" + String(today.getMonth()+1) + "월" + String(today.getDate()) + "일) 참석자"
    document.getElementById('current_date').innerHTML = comment
    fetch('http://localhost:8000/attendees_today')
    .then(res => res.text())
    .then(text => {document.getElementById('today_attendee').innerHTML = text;})
    
</script>
<script>
var currentTitle = document.getElementById('current_year_month');
var calendarBody = document.getElementById('calendar_body');
var today = new Date();
var first = new Date(today.getFullYear(), today.getMonth(),1);
var dayList = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
var monthList = ['January','February','March','April','May','June','July','August','September','October','November','December'];
var leapYear=[31,29,31,30,31,30,31,31,30,31,30,31];
var notLeapYear=[31,28,31,30,31,30,31,31,30,31,30,31];
var pageFirst = first;
var pageYear;
if(first.getFullYear() % 4 === 0){
pageYear = leapYear;
}else{
pageYear = notLeapYear;
}

function showCalendar(){
    let monthCnt = 100;
    let cnt = 1;
    for(var i = 0; i < 6; i++){
        var $tr = document.createElement('tr');
        $tr.setAttribute('id', monthCnt);
        for(var j = 0; j < 7; j++){
            if((i === 0 && j < first.getDay()) || cnt > pageYear[first.getMonth()]){
                var $td = document.createElement('td');
                $tr.appendChild($td);
            }else{
                var $td = document.createElement('td');
                $td.textContent = cnt;
                $td.setAttribute('id', cnt);
                $tr.appendChild($td);
                cnt++;
            }
        }
        monthCnt++;
        calendarBody.appendChild($tr);
    }
}
showCalendar();

currentTitle.innerHTML = today.getFullYear() + '.' + (today.getMonth() + 1);

</script>
</body>
</html>