<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>출석부 메인</title>
</head>
<body>
<h3>2022 학부모 보람교사 출석체크</h3>
<input type="button" value="출석하기" onclick="location.href='http://13.124.24.29/attend'">
<input type="button" value="출석 확인" onclick="location.href='http://13.124.24.29/attendees_today'">
<input type="button" value="관리자 로그인" onclick="location.href='http://13.124.24.29/login_page'">
</body>
</html>